extends layouts/master.pug

block content
  #content.section--primary(tabindex='0')
    .container
      .block--border__bottom
        h1 You are nearly there...
        p.lead We've just sent an email to
          = ' '
          strong #{session.email}
          = ' to confirm you would like to receive email updates from us.'
        p.lead Please check your email to confirm your subscription.
      p If you've entered the wrong email address
        = ' '
        a(href='/') go back and type it again
        = '.'
      p If you have not received the confirmation email, please check your spam folder. If you still have not received an email,
        = ' '
        a(href='mailto:support@email.parliament.uk') contact support
        = '.'
