extends ../layouts/master.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1 We're deleting your details
        span.context Email subscriptions
      p You might get email updates in the next 24 hours whilst our system deletes your details. After this, you will not hear from us again.
      p
        = 'Go to the '
        a(href='https://www.parliament.uk') parliament.uk homepage
        = '.'
