extends ../layouts/master.pug

block content
  #content.section--primary(tabindex='0')
    .container
        h1
          span Success, we've removed your details
        p.lead You won’t get hear from us again. Please note, you might get email updates in the next 24 hours whilst our system removes your details.
        p
          = 'Go to the '
          a(href='parliament.uk') parliament.uk homepage.
