extends ../layouts/master.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1 Remove your details
      p Would you like to remove your details from our system? If so, you will have to sign up again to get our email updates.

      form(action='', method='post')
        .input-wrapper
          p
            = 'If you’ve changed your mind or clicked this by mistake, '
            a(href='/topics') go back and manage your subscriptions.

        button(type='submit', class='btn--primary--inverse') Yes, delete me
