extends ../layouts/master.pug
include ../mixins/tabs.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1
        span Manage your settings and personal details
        span.context Update your personal information and the frequency of our emails

  section.section--wide
    .container
      .input-group__extended
        +tabs('user_details')

      form(action='', method='post')
        .input-wrapper
          h2 Change your email address
        
          label(for='email') Email address

          if sessionErrors
            for error in sessionErrors
              p.message--error #{error.message}

          input#email(type='email', name='email', required, autocapitalize='off' autocorrect='off', value=USER.email_address)

        button.btn--primary(type='submit') Change email address

      h2 Delete your account
      p Would you like to remove your details from our system?
      a(href='/user/delete', class='btn--ghost--primary') Yes, delete me
