mixin tabs(active)
  ul.list--block.list--3
    if active == 'subscribed'
      li.active Your subscriptions
    else
      li
        a(href='/topics/subscribed') Your subscriptions
    if active == 'all'
      li.active All available subscriptions
    else
      li
        a(href='/topics') All available subscriptions
    if active == 'user_details'
      li.active Manage your details
    else
      li
        a(href='/user') Manage your details
