extends ../layouts/master.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1
        small Email preferences
        span All available subscriptions
        span.context Edit the email updates you get from us
  section.section--wide
    .container
      ul.list--tab
        li
          a(href='/topics/subscribed') Your subscriptions
        li.active All available subscriptions
  section.section--wide
    .container.flex
      .flex--1-4.categories
        h2 Categories
        ul
          li
            a(href='#newsletters').active Newsletters
          li
            a(href='#cu') Committee updates
          li
            a(href='#bu') Bill updates
      .flex--3-4
        form(action='', method='post')
          h2#newsletters Newsletters
          fieldset
            ol.list--block
              each val in TOPICS
                li
                  .list--details
                    .input-group__verbose
                      input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                      label(for=val.id)= val.title
            button(type='submit').btn--primary Save changes
