extends ../layouts/master.pug
include ../mixins/tabs.pug

block content
  #content.section--primary(tabindex='0')
    .container
      h1 
        span Manage your subscriptions
        span.context Edit the email updates you get from us

  section.section--wide
    .container
      .input-group__extended
        +tabs('subscribed')
      if TOPICS.length
        form(action='', method='post')
          .input-wrapper
            h2 Your subscriptions (#{TOPICS.length})
            ol.list--block
              each val in TOPICS
                li
                  .list--details
                    .input-group__verbose
                      input(type='checkbox', value=val.id, name="interests[]", id=val.id)
                      label(for=val.id)= val.title
                    p 
                      | Description text for 
                      =val.title

          button(class="btn--primary" type="submit") Unsubscribe

      else
        .status--highlight
          p You aren’t currently subscribed to any emails.
